.cat {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    color: #FFF;
  
  }
  .dog {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    color: #000;
  }
  .dragon {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    color: #009933;
  }